img {
    width: 320px;
    height: 270px;
    display: block;
    margin-bottom: 40px;
}
div {
    margin: 40px;
    width: 80%;
}
hr {
    width: 400px;
    margin-left: 0;
    margin: 25px 0px;
    
}
button {
    width: 160px;
    font-size: 15px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

#edit-view {
    display: none;
}